@mixin osxMax {
  @media only screen and (min-height: 900px) {
    @content;
  }
}

.handle {
  position: absolute !important;
  bottom: -3%;
  left: 100%;
  color: #ffb732,
}

@include osxMax {
  .handle {
    bottom: -10%;
  }
}
