.slideSize {
  height: 100%;
}

.column {
  flex: 1;
  flex-direction: column;
}

.saga {
  margin-top: -5% !important;
  color: lighten(red, 20%) !important;
  font-size: 80px !important;
}

.subtitle {
  font-size: 60px !important;
  color: lighten(red, 20%) !important;
}

.callback {
  height: 70% !important;
}

.item {
  font-size: 45px !important;
  color: white !important;
}
