.slideSize {
  height: 100%;
}

.title {
  font-size: 80px !important;
  color: lighten(blue, 30%) !important;
}

.middleware {
  width: 70%;
}

.subcontent {
  font-size: 40px !important;
  font-family: "Monaco";
  padding-top: 10%;
}
