.slideSize {
  height: 100%;
}

.column {
  flex: 1;
  flex-direction: column;
}

.thunk {
  color: lighten(green, 10%) !important;
  font-size: 180px !important;
  animation: title-spin 0.5s linear;
}

.saga {
  color: lighten(red, 20%) !important;
  font-size: 180px !important;
  animation: title-spin 0.5s linear;
}

.epic {
  color: #716ada !important;
  font-size: 180px !important;
  animation: title-spin 0.5s linear;
}
@keyframes title-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
