.slideSize {
  height: 100%;
}

.column {
  flex: 1;
  flex-direction: column;
}

.epic {
  color: lighten(blue, 30%) !important;
  font-size: 180px !important;
  animation: title-spin 0.5s linear;
}

.versus {
  position: absolute;
  width: 50%;
  top: 15%;
  left: 25%;
}

@keyframes title-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
