.column {
  flex: 1;
  flex-direction: column;
}

.title {
  color: lighten(red, 20%) !important;
  font-size: 180px !important;
  animation: title-spin 0.5s linear;
}

@keyframes title-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
