@mixin osxMax {
  @media only screen and (min-height: 900px) and (max-height: 982px) {
    @content;
  }
}

@mixin osxMonitorMaxed {
  @media only screen and (min-height: 1080px) {
    @content;
  }
}

@mixin osxMonitor {
  @media only screen and (min-height: 983px) and (max-height: 1080px) {
    @content;
  }
}

.photoCredit {
  position: absolute !important;
  bottom: -5%;
  left: -10%;
  color: #0892D0,
}

@include osxMax {
  .photoCredit {
    bottom: -10%;
  }
}

@include osxMonitor {
  .photoCredit {
    bottom: -16%;
  }
}

@include osxMonitorMaxed {
  .photoCredit {
    bottom: -23%;
  }
}

