.title {
  margin-left: 20% !important;
}

.iceCube {
  margin-left: -10% !important;
  margin-top: 20% !important;
  width: 200px;
}

.leftArrow {
  margin-left: 21% !important;
  margin-top: -20% !important;
  width: 100px;
}

.iceCubeMelting {
  margin-top: -11% !important;
  margin-left: 40% !important;
  width: 360px !important;
}

.leftArrow2 {
  margin-left: 75% !important;
  margin-top: -20% !important;
  width: 100px;
}

.steam {
  margin-top: -11% !important;
  margin-left: 90% !important;
  width: 360px !important;
}
