.iceCube {
  margin-left: 0% !important;
  margin-top: 20% !important;
  width: 200px;
}

.leftArrow {
  margin-left: 31% !important;
  margin-top: -20% !important;
  width: 100px;
}

.iceCubeMelting {
  margin-top: -11% !important;
  margin-left: 45% !important;
  width: 360px !important;
}

.leftArrow2 {
  margin-left: 85% !important;
  margin-top: -20% !important;
  width: 100px;
}

.steam {
  margin-top: -11% !important;
  margin-left: 100% !important;
  width: 360px !important;
}
