.slideSize {
  height: 100%;
}

.column {
  flex: 1;
  flex-direction: column;
}

.epic {
  color: lighten(blue, 30%) !important;
  font-size: 100px !important;
}

.content {
  font-size: 50px !important;
}
